
:root {
  --light-green: #f2f7f2;
  --dark-green: #2c4741;
  --med-green: #295f3a;
  --med-gray: rgb(172, 171, 167);
  --light-gray: rgba(222,222,222, 0.9);
  --dark: #19191f;
  --navy: rgb(4, 24, 49);
  --body: rgb(243, 242, 239);
}

.med-gray {
  background-color: var(--med-gray);
}

.dark-green {
  background-color: var(--dark-green);
}

.med-green {
  background-color: var(--med-green);
}

.dark {
  background-color: var(--dark);
}

.navy {
  background-color: var(--navy);
}

.med-gray-font {
  color:var(--med-gray);
}

.navy-font {
  color:var(--navy);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*, 
*::before,
*::after {
 padding:0;
 margin:0;
 box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.modal-open {
  overflow:hidden;
}
h1,h2,h3,h4 {
  padding-left: 0.5rem;
  line-height: 1;
}

.m-l-5 {
  margin-left: 0.5rem !important;
}

a, a:visited {
  text-decoration: none;
  color:inherit;
}

img {
  width:100%;
  display: block;
}

.bold {
  font-weight: 700;
}

.header {
 position: fixed;
 top:0;
 width:100%;
 z-index: 999;
}

.main-container, .side-container {
  background-color: rgb(255,255,255,0.8);
  box-shadow: 0 0.5em 1em rgb(44 71 65 / 25%);
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;;
  border-radius: 0.6rem;
}

.main-container {
  flex-basis: 60%;
}

input.forminput,
textarea.forminput,
textarea,
input,
#postGroup {
  float: right;
  color: var(--med-gray);
  font-size: 1rem;
  margin-bottom: 0.5rem;
  border: solid 1px var(--med-gray);
  border-radius: 0.8rem;
  line-height: 1.375rem;
  min-height: 2.6rem;
  padding: 0 0.625rem;   
}

.login-join-background, .post-form, .search-form, .group-form {
  align-self: center;
  max-width: 30vw;
  margin-left: 5vw;
  margin-top: 10vh;
  background-color: white;
  padding: 1rem 2rem;
  box-shadow: 0 0.5em 1em rgb(44 71 65 / 15%);
  border-radius: 0.6rem;
}

.post-form, .search-form, .group-form {
  position: relative;
  margin: 2rem auto !important;
}

.search-form, .group-form {
  max-width :90%;
  margin: 2rem auto;
}

.post-form::after,
.interactions::after {
  position: absolute;
  content: '';
  height: 1px;
  background: var(--med-gray);
  width: 100%;
  left: 0;
  right: 0;
}

.post-form::after {
  bottom: -16px;
}
.interactions::after {
  bottom: -4px;
}

.add-comment, .like-post {
  margin-top: 0.5rem;
}

.comment-input {
  width: 100%;
  margin:1em 0.1em;
  border-radius: 0.75rem;
}

.form-title {
  display: inline-block;
  text-align: center;
  margin-bottom: 0.6em !important;
  color:var(--dark);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.nav {
  margin: 0.3rem 1rem;

}

.nav-list, .comments-list {
list-style: none;
gap:1rem !important;
}

.nav-link {
  cursor: pointer;
  color:white;
  font-weight: 600;
}

.nav-link:hover {
  color: var(--light-green);
  opacity: 0.9;
}

.no-display {
  display: none !important;
}

.card {
  box-shadow: 0 0.5em 1em rgb(7 8 8 / 50%);
  border-radius: 1rem;
  padding: 1em;
  margin-top:5rem;
  background-color: white;
  max-width: 50vw;
  overflow: hidden;

}

.card +.card {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.card-title {
  border-bottom: var(--navy) solid 2px;
  padding-bottom: 0.3rem;
  font-size: 1.4rem;
  font-weight: 900;
}

.card-image {
  gap:0.1rem !important;
  box-shadow: 0 0.5em 1em rgb(44 71 65 / 10%);
}
.flex {
  display:flex;
  gap:0.2rem;
}

.flex-around {
  justify-content: space-around;
}

.flex-between {
  justify-content: space-between;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-left {
  justify-content: left;
}

.flex-columns {
  flex-direction: column;
}

.center {
  margin: auto;
  vertical-align: middle;
}

.btn, .btn-modal, .dropdwon-trigger {
  cursor: pointer;
  border-radius: 0.6rem;
  width: 100%;
  color: white;
  font-size: 1rem;
  line-height: 1.375rem;
  min-height: 2.6rem;
  
}
.btn {
  background-color: var(--dark);
  border-color: white;
  padding: 0 .625rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.btn-no-styling {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  align-self: start;
}

.btn-no-styling:hover {
  text-decoration: underline;
  color: blue;
}

.link {
  color:var(--med-green);
  font-weight: bolder;
  
}

